@import "../../scss/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $primary-font;
}

.body {
  background-color: $background-light;
  color: $forground-light;
  position: relative;
  &-dark {
    background-color: $background-dark;
    color: $forground-dark;
  }
}

a {
  text-decoration: none;
}
