@import "../../scss/utils";
@import "../../scss/variable";
.google_sign_up {
  &__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $forground-light;
  }

  &__button {
    @include button();

    background-color: $background-dark;
    color: $forground-dark;
    cursor: pointer;

    &-full {
      width: 100%;
      font-size: 0.9rem;
      padding: 0.6rem 0;
      border-radius: 0.5rem;
      font-family: "Poppins";
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__icon {
    margin-right: 1rem;
  }
}
