@import "../scss/variable";

@mixin fluid {
  //small screen
  padding: 0 0.5rem;
}

@mixin button {
  outline: none;
  border: none;
  background: none;
}

@mixin small_icon($theme) {
  $background: $forground-light;
  $opacity: 0.1;
  @if $theme == DARK {
    $background: $forground-light;
    $opacity: 0.5;
  }
  $size: 35px;
  height: $size;
  width: $size;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $background, $alpha: $opacity);
    transition: background-color 300ms ease-out;
  }
}
